
<div id="table-button-bottom1">
    <button class="btn btn-success"  routerLink="/add" routerLinkActive="active">Add Customers</button>
</div>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">View Dependents</th>
        <th scope="col">Delete Customer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers" >
        <td>{{customer.name}}</td>
        <td>{{customer.email}}</td>
        <td class="view-dependents"><a (click)= "viewDependents(customer.id)">View Dependents</a></td>
        <td class="delete-customer"><i class="fa fa-trash" (click)= "openModal(customer.id)"></i></td>
      </tr>
    </tbody>
</table>

<div id="table-button-bottom2">
    <button class="btn btn-success"  routerLink="/add" routerLinkActive="active">Add Customers</button>
</div>





<div id="myModal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Please Confirm</h4>
        <button type="button" (click)="closeModal()" class="close" data-dismiss="modal">&times;</button>        
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete?</p>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="deleteCustomer(currentCustomerId)" class="btn btn-primary" data-dismiss="modal">Delete </button>
        <button type="button" (click)="closeModal()" class="btn btn-secondary" data-dismiss="modal">Cancel </button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>





<!-- GRAVEYARD -->

<!-- <button class="btn btn-success" (click)="openModal()">
  Open Modal
</button> -->

<!-- <div *ngFor="let customer of customers">
    <h3>{{customer.name}}</h3>
    <button>View Dependents</button>
    <i (click)= "deleteCustomer(customer.id)" class="fa fa-trash"></i>
</div> -->

<!-- <div class="card-container customer-card-container">
    <div *ngFor="let customer of customers" class="card customer-card">
        <div class="card-body">
          <h5 class="card-title">{{customer.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Email: {{customer.email}}</h6>
          <button class="btn btn-primary" (click)= "viewDependents(customer.id)">View Dependents</button><br>
          <button class="btn btn-primary" (click)= "deleteCustomer(customer.id)" >Delete Customer</button>
        </div>
    </div>
</div> -->
