<nav class="navbar">
    <div>Bootstrap Navbar</div>
    <a routerLink="/add" routerLinkActive="active">Add Customers</a>
    <a routerLink="/add/order" routerLinkActive="active">Create Order</a>
</nav>

<h1>Customer Mgmt</h1>
<ul>
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/customers" routerLinkActive="active">Customers</a></li>
    <li><a routerLink="/add" routerLinkActive="active">Add Customers</a></li>
    <li><a routerLink="/add/order" routerLinkActive="active">Create Order</a></li>
</ul>








<router-outlet></router-outlet>
