<div class="order-card-container">
    <div class="order-card-body">
        <h1>Upload Photo ID to Submit</h1><br>
      <h5 class="card-title">Order Name: {{order.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Date Submitted: {{order.date}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">Amount {{order.price}}</h6><br>
      <h6 class="card-subtitle mb-2 text-muted">Description:</h6>
      <p class="card-text">{{order.description}}</p>
      <app-file-upload></app-file-upload>
    </div>
  </div>
