<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h1>Submit Photo ID to approve the order</h1>
      <h5 class="card-title">{{order.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Date Submitted: {{order.date}}</h6>
      <p class="card-text">{{order.description}}</p>
      <form>
        <div class="form-group">
          <label for="exampleFormControlFile1">Submit ID here</label>
          <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
      </form>
    </div>
  </div>
